$primary-font: "Poppins", sans-serif;

h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 500px) {
  .partners {
    h6 {
      padding: 20px 0 0 0 !important;
    }
    .cell {
      padding: 10px;
    }
  }
}

// OFFCANVAS

.off-canvas {
  opacity: 0.8;

  .close-button {
    color: #f4f4f4;
  }
  a {
    color: #fff;
    border-bottom: #fff dotted;
    font-family: $primary-font;
  }
}

// SHOWCASE

.showcase {
  background: url("images/showcase_img.svg") no-repeat center center/cover;
  height: 100vh;

  .header {
    position: absolute;
    width: 100%;
    margin-top: 15px;

    .menu {
      text-align: center;
    }

    a {
      color: #4a4a4a;
      font-family: $primary-font;
      font-size: 14px;
    }

    span {
      font-weight: bolder;
    }
  }

  .container {
    position: relative;
  }

  .tid {
    position: absolute;
    bottom: 20px;
    right: 50px;
  }

  .showcase-bottom {
    width: 100%;
    position: absolute;
    bottom: 25px;

    .socials {
      width: 100%;
      position: absolute;
      bottom: 0;

      a {
        color: #fff;
      }
    }

    h1 {
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-family: $primary-font;
      font-size: 60px;
      margin: 0;
    }

    h2 {
      color: #fff;
      text-transform: uppercase;
      font-family: $primary-font;
      font-size: 28px;
    }

    .button {
      background: #fa9a48;
      font-family: $primary-font;
    }
  }
}

// OUR SERVICES

.services {
  .l-heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: #535353;
    padding: 30px 0;
  }

  h6 {
    color: #fa9a48;
    font-weight: bolder;
    padding: 15px 0;
    font-family: $primary-font;
  }

  div {
    text-align: center;
    padding: 10px 0;

    p {
      font-family: $primary-font;
      font-weight: lighter;
      font-size: 14px;
    }
  }

  a {
    color: #4a4a4a;
    font-weight: bolder;
    font-family: $primary-font;
    &::before {
      content: " - ";
    }
  }
}

// ABOUT US

.about {
  background-color: #f5f5f5;
  margin: 50px 0;
  overflow: hidden;

  .about-content {
    padding: 50px 0;
  }

  h2 {
    font-family: $primary-font;
    text-transform: uppercase;
    padding: 20px 0;
    color: #535353;
  }

  p {
    font-family: $primary-font;
    font-size: 14px;
    font-weight: lighter;
  }

  &-img {
    background: url("images/about_img.svg") no-repeat center center/cover;
    overflow: hidden;
  }

  .button {
    background: #fa9a48;
    margin-top: 20px;
  }
}

// OUR RECENT PROJECTS

.recent-projects {
  h6 {
    color: #535353;
    font-weight: bolder;
    padding: 20px 0;
  }

  p {
    text-align: center;
    font-size: 14px;
  }

  .secondary-h6 {
    margin: 10px 0;
    font-size: 20px;
  }
}

// PARTNERS

.partners {
  background-color: #f5f5f5;

  h6 {
    text-transform: uppercase;
    font-family: $primary-font;
    color: #535353;
    padding: 20px 0;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bolder;
  }

  &-logos {
    padding-bottom: 60px;
  }
}

// FOOTER

.footer {
  background-color: #626262;
  padding: 1rem;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
  }
  li {
    padding: 1rem 0;
  }
  a {
    color: #f4f4f4;
    font-family: $primary-font;

    span {
      font-weight: bolder;
    }
  }

  .icons {
    text-align: center;
    color: #f4f4f4;
  }
}
